.contact {
    width: 100%;
    height: 92vh;
    display: flex;
    align-items: center;
    margin-top: 4.5rem;
}

.contact .contact-info {
    width: 40%;
    height: 100%;
    display: grid;
    place-items: center;
    color: var(--pry);
    padding: 0 1rem;
    text-align: center;
}

.contact-info .list {
    list-style: none;
    margin: 2rem 0;
    display: grid;
    place-items: center;
}

.contact-info .list li {
    margin: 1.5rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contact-info .list li a {
    color: var(--pry);
}

.contact-info .pages {
    width: 60%;
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-between;
}

.contact-info .pages li a {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: var(--pry);
    font-size: 2rem;
    transition: var(--transition);
}

.contact-info .pages li a:hover {
    background: var(--pry);
    color: var(--light);
}

.contact .contact-form {
    width: 60%;
    height: 100%;
    background: url('material_2.png') no-repeat center/cover;
}

.contact-form h1 {
    color: var(--light);
}

.contact-form .error {
    color: red;
    background: var(--light);
    padding: 1rem;
    font-size: 1rem;
    font-family: var(--titilium);
}

.contact-form .success {
    color: green;
    background: var(--light);
    padding: 1rem;
    font-size: 1rem;
    font-family: var(--titilium);
}

.contact-form,
.contact-form form {
    display: grid;
    place-items: center;
}

.contact-form form {
    width: 80%;
    background: var(--light);
    padding: 1rem 2rem;
}

.contact-form form .control-group {
    width: 100%;
    margin: 1rem 0;
}

.contact-form form .control-group input,
.contact-form form .control-group textarea {
    width: 100%;
    background: transparent;
    border: 1px solid var(--pry);
    outline: none;
    padding: 0.5rem 1rem;
    transition: var(--transition);
}

.contact-form form .control-group textarea {
    resize: none;
    height: 150px;
}

.contact-form form .control-group input:focus,
.contact-form form .control-group textarea:focus {
    border: 1px solid var(--dark);
    transform: translateY(-10px);
}

.contact-form form button {
    background: var(--pry);
    color: var(--light);
    padding: 0.5rem 2rem;
    border: 1px solid transparent;
    outline: none;
    text-transform: uppercase;
    transition: var(--transition);
    cursor: pointer;
}

.contact-form form button:hover,
.contact-form form button:active {
    background: transparent;
    color: var(--pry);
    border-color: var(--pry);
    transform: translateY(-10px);
}

@media screen and (max-width: 800px) {
    .contact {
        flex-direction: column;
        height: fit-content;
    }

    .contact .contact-info,
    .contact .contact-form {
        width: 100%;
        height: 70vh;
    }
}
