.footer {
    width: 100%;
    background: var(--dark);
    padding: 0.5rem 1rem;
    display: grid;
    place-items: center;
}

.footer p {
    font-family: var(--dancing);
    color: var(--light);
    font-size: 1rem;
    letter-spacing: 1px;
}

.footer .grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.5rem 0;
}

.footer .grid img {
    width: 20%;
}

.footer .grid .grid_ {
    display: grid;
    place-items: center;
}

.footer .grid .grid_ p {
    font-family: var(--titilium);
}

.footer .grid .grid_ ul {
    display: flex;
    list-style: none;
    margin: 0.5rem 0;
}

.footer .grid .grid_ ul li {
    margin: 0 1rem;
}

.footer .grid .grid_ ul li a {
    color: var(--light);
    font-size: 2rem;
    transition: var(--transition);
}

.footer .grid .grid_ ul li a:hover {
    color: var(--light);
}

@media screen and (max-width: 800px) {
    .footer p {
        font-size: 0.7rem;
    }
}