.image-container {
    position: relative;
}

.image-container img {
    width: 300px;
    border-radius: 10px;
    margin: 1rem;
    transition: var(--transition);
}

.image-container:hover img {
    transform: scale(1.05);
}

.action {
    position: absolute;
    top: 45%;
    left: calc(50% - 3rem);
    font-size: 1.5rem;
    background: var(--light);
    color: var(--dark);
    padding: 0.5rem;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: var(--transition);
}

.action:hover {
    transform: scale(1.2);
}

@media screen and (max-width: 645px) {
    .image-container {
        display: grid;
        place-items: center;
    }
    
    .image-container img {
        width: 80%;
    }
}