.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
}

.nav img {
    width: 25%;
}

.nav h1 {
    font-size: 2rem;
    color: var(--pry);
}

.nav ul {
    display: flex;
    list-style: none;
}

.nav ul li {
    margin: 0.5rem;
}

.nav ul li a {
    position: relative;
    color: var(--dark);
    font-size: 1rem;
    transition: var(--transition);
}

.nav ul li a:hover {
    color: var(--pry);
}

.nav ul li a::before{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 3px;
    background: var(--pry);
    transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

@media (hover: hover) and (pointer: fine) {
    .nav ul li a:hover::before{
        left: 0;
        right: auto;
        width: 100%;
    }
}

@media screen and (max-width: 800px) {
    .nav {
        padding: 0.5rem 1rem;
    }

    .nav img {
        width: 15%;
    }

    .nav ul {
        display: none;
    }

    .nav h1 {
        font-size: 1rem;
    }
}